* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #14062F;
  font-family: 'Roboto', sans-serif;
}

.searchres {
  line-height: 18px;
  margin-bottom: 2rem;
}

.slug {
  margin-top: -1rem;
}

.navbg {
  background: #302858;
}

.nav-link {
  color: #fff !important;
  opacity: 0.6;
}

.active .nav-link{
  color: #fff !important;
  opacity: 1;
}

.main {
  padding: 2rem 1rem 0 1rem;
}

.card {
  background: transparent;
  border: none;
}

.card-img-top {
  border-radius: .25rem;
}

.card-title {
  font-weight: bold;
  margin: 0;
}